/* .ul{
    display: flex;
    color: aliceblue;
    list-style-type: none;
}
li {
    display: inline-flex;
   
    font-size: 18px;
}
a{
    text-decoration: none;
    color: rgb(50, 164, 67);
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 8px;
}
h6{
    color: aliceblue;
    text-align: center;
}
h3{
    margin-left:40px;
    color: aliceblue;
   
}
.footer{
    margin-top: 30px;
    background-color: rgba(137, 137, 132, 0.9);
}
.fo{
    color: aliceblue;
    margin-top: 12px;
    margin-left: -4px;
    margin-right: 10px;
}

  @media (max-width: 768px) {
    .ul {
      display: block;
      color: aliceblue;
      list-style-type: none;
    }
    
    .ul li {
      display: inline-flex;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .ul li img {
      margin-right: 5px;
    }
  
    .fo {
      font-size: 15px;
      text-decoration: none;
      color: inherit;
    }
  }
  
  @media (min-width: 1200px) {
    .ul{
        display: flex;
        color: aliceblue;
        list-style-type: none;
        
    }
    .fo {
        display: inline-flex;
        font-size: 18px;
    }
  }
img {
    margin-right: 20px;
    
    width: 50px;
} */