.ul{
    display: flex;
    color: aliceblue;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: rgb(50, 164, 67);
    margin-top: 60px;
    margin-right: 20px;
    margin-left: 8px;
}
h6{
    color: aliceblue;
    text-align: center;
}
h3{
    margin-left:40px;
    color: aliceblue;
   
}
.footer{
    margin-top: 30px;
    background-color: rgba(137, 137, 132, 0.9);
}
.fo{
    color: aliceblue;
}